<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-Hospital</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @* This is for the mapbox map. *@
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    @*This is used for the Geocoding Mapbox API*@
    <script
        src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />
    <style>
        p {
            font-weight: bold;
            
        }
        h2 {
            font-weight: bold;
        }
        .navbar{
            background-color: darkslategrey;
            box-shadow: black 5px 5px;
            font-family: Arial;
            
        }
        .navbar, .navbar div, .navbar-brand, .navbar-header{
            min-height: 60px;
            max-height: 60px;
            height: 60px;
            

        }
        .nav{
            color:black
        }
        
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="font-weight:bold;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-Hospital", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Reservations", "Index", "Reservations")</li>
                        <li>@Html.ActionLink("My Calendar", "ShowCalendar", "Reservations")</li>

                    }
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Confirm Reservation", "ConfirmList", "Reservations")</li>
                        <li>@Html.ActionLink("Assign Roles", "Index", "AssignRole")</li>
                        <li>@Html.ActionLink("Hospital", "Index", "Hospitals")</li>
                    }

                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h5>&copy; Copyright - Tony Wu - @DateTime.Now.Year</h5>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
